<app-header title="Crear Ahorro" [datos]="headerOptions"></app-header>

  <ion-content>
    <ion-list lines="none" class="ion-no-margin">

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Objetivo ahorro</ion-label>
        <ion-input placeholder="¿Cuanto quieres ahorrar?"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de ahorro</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Intervalo</ion-label>
        <ion-input placeholder="Intervalo de lo que vas a ahorrar"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
