ion-content::part(background){
    border: 2px solid #b9cae833;
    margin: 4px;
    border-radius: 20px;
    background-color: #e3edff33;
}

ion-list{
    background-color: transparent;
    ion-item{
        margin: 5px 10px 5px 10px;
        border: 2px solid #195d9f30;
        border-radius: 10px;
    }
}