<app-header [title]="datosAhorro?.nombre || ''" [datos]="headerOptions"></app-header>
<ion-content class="content">
  <ion-card>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="9">
            <ion-row>
              <ion-col size="12" class="objetivo">
                <ion-text >
                  <h4>
                    Objetivo: {{ datosAhorro?.objetivo | currency:"$":"symbol"}}
                  </h4>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text >
                  <h4>Ahorrado: {{ (datosAhorro?.ahorrado) | currency:"$":"symbol" }}</h4>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3" class="ion-text-end btn-add-container " >
            <ion-button fill="solid" color="primary" size="small">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list lines="full" *ngIf="datosAhorro?.tipo_ahorro === 1" >
      <ion-item-sliding *ngFor="let monto of datosAhorro?.montos || []">
        <ion-item>
          <ion-label slot="start">{{ monto.valor | currency:"$":"symbol" }}</ion-label>     
          <ion-label slot="end">{{ monto.created_at | date}}</ion-label>        
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon name="help-circle-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <ion-list lines="full" *ngIf="datosAhorro?.tipo_ahorro === 2" >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" size-md="3" class="cell" *ngFor="let monto of datosAhorro?.montos || []" [ngClass]="{'checked': monto.chec}" >
            {{ monto.valor | currency:"$":"symbol" }}
            <ion-icon name="checkmark-outline" color="primary" *ngIf="monto.chec"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </ion-card>
</ion-content>