<app-header title="Deudas" [datos]="headerOptions"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let deuda of list" >
        <ion-card class="pointer item">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-card-header class="ion-no-padding">
                  <ion-text>
                    <h5>
                      {{ deuda.nombre | titlecase }}
                    </h5>
                  </ion-text>
                  <ion-card-subtitle>{{deuda.percent}}%</ion-card-subtitle>
                  <ion-progress-bar value="{{deuda.percent/100}}" ></ion-progress-bar>
                  <ion-card-subtitle class="meta-tipo">                     
                    <span>
                      Valor: {{ deuda.objetivo | currency:"$":"symbol"  }}
                    </span>                    
                  </ion-card-subtitle>
                  <ion-card-subtitle>Falta: {{ (deuda.objetivo - deuda.ahorrado) | currency:"$":"symbol"  }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-text-end">
                  <ion-button color="primary" (click)="openModalView(deuda)">
                    <ion-icon name="eye"></ion-icon>
                  </ion-button>
                  <ion-button color="secondary" (click)="openModalEdit(deuda)">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button color="danger" (click)="alertDelete(deuda)">
                    <ion-icon name="trash" ></ion-icon>
                  </ion-button>                
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
