ion-content {
    ion-card{
        background-color: #e3edff;
        background-image: url(./../../../assets/circles.svg);
        border-radius: 20px;
        ion-img{
            max-height: 200px;
            &::part(image){
                max-height: 200px;
            }
        }

        h2{
            font-weight: 700;
        }
    }

    &::part(background){
        border: 2px solid #b9cae833;
        margin: 4px;
        border-radius: 20px;
        background-color: #e3edff33;
    }
}
