<app-header title="Agregar item"></app-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" size="12" >
        <ion-card class="pointer">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text color="primary">
                <h2>Ahorro</h2>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-img src="../../../assets/icon/pigmoney.svg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size="12">
        <ion-card class="pointer">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text color="primary">
                <h2>Deuda</h2>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-img src="../../../assets/icon/savemoney.svg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
