ion-content::part(background){
    border: 2px solid #b9cae833;
    margin: 4px;
    border-radius: 20px;
    background-color: #e3edff33;
}

ion-card{
    border-radius: 15px;
    border: 2px solid #6fa1f55c;
    height: 100%;

    ion-card-header{
        height: 33%;
    }

    ion-card-content{
        height: 33%;
    }

    ion-img{
        height: 33%;

        &::part(image){
            border-radius: 5px;
            // border: 2px solid #7192a552;
            margin: auto;
            max-width: 95%;
        }
    }


}
