:root{

    --blue-light: #4EE1F5;
    --blue: #364CF7;
    --violet: #9B0FDB;
    --red: #F5001B;
    --orange: #E85E05;
    
    --ion-font-family: 'Poppins', sans-serif;
}



.pop-date{
    &::part(content){
        width: 300px;
        background-color: red;
    }
}


.pointer{
    cursor: pointer;
}

.modal-desktop{
    border-radius: 20px;;
}

.content{
    &::part(background){
        border: 2px solid #b9cae833;
        margin: 4px;
        border-radius: 20px;
        background-color: #e3edff33;
    }
}

.text-center{
    text-align: center;
}